h1{
    background-color: #c9c9c9 ;
    margin: 10px;
    text-align: center;
  }
  
  table{
    border-style: solid;
    width: 100%;
  }
  
  body{
    background-color: darkblue;
    border-style: solid;
    border-color: yellow;
    border-radius: 35px 35px 35px 35px;
  }
  
  img{
    margin: 20px;
  }
  
  h3{
    text-align: center;
    background-color: cyan;
  }
  
  ol{
    color: red;
  }
  
  ul{
    color: red;
  }

.img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
}